:root {
  --bs-blue: #3282f7;
  --bs-green: #68d9a4;
  --bs-red: #ED6454;
}


html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}

ul {
  padding-left: 0;
}

p,
li {
  font-size: 14px;
}

li {
  list-style-type: none;
}

.logo {
  max-width: 278px;
}

.searchBar {
  height: 69px;
  border: none;
  background-color: #E5E5E5;
  border-radius: 5px 0 0 5px;
  position: relative;
}

.btn-custom-search {
  height: 69px;
  width: 100px;
  background-color: #E5E5E5;
  color: #000;
  border-radius: 0 5px 5px 0;
}

.btn-custom-search:focus {
  box-shadow: none;
}

.btn-custom-search:hover,
.btn-custom-search:focus {
  background-color: hsl(0, 7%, 86%);
}

.container-input-show {
  box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25);
  border-radius: 0.25rem;
}

.form-control:focus {
  background-color: #E5E5E5;
}

/* tags */

.tag {
  padding: 1em 2.5em 1em 1em;
  margin: 0.5em;
  min-width: 100px;
  width: fit-content;
  height: 37px;
  line-height: 8px;
  border-radius: 5px;
  color: #fff;
  position: relative;
  cursor: pointer;
}

.tag::after {
  content: url(./assets/close.svg);
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
}

.ingredient {
  background-color: var(--bs-blue);
}

.appliance {
  background-color: var(--bs-green);
}

.ustensil {
  background-color: var(--bs-red);
}

.default {
  background-color: #C7BEBE;
}


/* filter */

.btn {
  text-transform: capitalize;
}

.btn-group {
  margin-right: 15px;
}

#dropdown-input {
  display: flex;
}

#dropdown-input .dropdown-toggle.show {
  width: 70px;
}

#input-ingredients {
  display: none;
  padding: 1em;
  width: 450px;
  height: 69px;
  border: none;
  color: #fff;
  border-radius: 0.25rem 0 0 0.25rem;
  transition: 0.5s ease-in;
  background-color: #3282f7;
  border-color: var(--bs-blue);
}

#input-appliances {
  display: none;
  padding: 1em;
  width: 450px;
  height: 69px;
  border: none;
  color: #fff;
  border-radius: 0.25rem 0 0 0.25rem;
  transition: 0.5s ease-in;
  background-color:#68d9a4;
  border-color: var(--bs-green);
}

#input-appliances.input-show,
#input-appliances + .btn:focus,
#input-appliances:focus-within + .btn {
  box-shadow: 0 0 0 .25rem rgba(104, 217, 164,0.5)!important;
}

#input-ustensils {
  display: none;
  padding: 1em;
  width: 450px;
  height: 69px;
  border: none;
  color: #fff;
  border-radius: 0.25rem 0 0 0.25rem;
  transition: 0.5s ease-in;
  background-color:#ED6454;
  border-color: var(--bs-red);
}


#input-ustensils + .btn, 
#input-ustensils.input-show, 
#input-ustensils + .btn:focus,
#input-ustensils:focus-within + .btn{
  box-shadow: 0 0 0 .25rem rgba(237, 100, 84, 0.5)!important;
}

.btn-input-show {
  border: none;
  outline: none;
  display: inline-block !important;
  width: 70px;
  border-radius: 0 0.25rem 0.25rem 0;
  box-shadow: none !important;
}

.input-show {
  display: inline-block !important;
  width: 100px;
  border-radius: 0.25rem;
}

input {
  box-shadow:none;
  border: 0;
  outline:none;
}

::placeholder {
  color: #fff;
}

.btn-custom{
  width: 170px;
  height: 69px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-custom.show {
  width: 70px;
}

.btn-group {
  width: 170px;
  height: 69px;
}

.btn-1 {
  background-color: #3282f7;
  border-color: var(--bs-blue);
  border: none;
}

.btn-2 {
  background-color: var(--bs-green);
  border-color: var(--bs-green);
}

.btn-3 {
  background-color: var(--bs-red);
  border-color: var(--bs-red);
}

.btn:hover {
  color: #fff;
}

.dropdown-menu {
  min-width: unset;
  column-count: 3;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-toggle.show img {
  transform: rotate(180deg);
  transition: 0.1s ease-in;
}

.dropdown-menu.show {
  padding: 1em;
}

.dropdown-menu.show li {
  color: #fff;
  padding: 0.5em;
}


#dropdown-input-ingredients,
#dropdown-input-appliances,
#dropdown-input-ustensils {
  justify-content: center;
}

#ingredients-list {
  background-color: var(--bs-blue);
  width: 100%;
}

#appliances-list {
  background-color: var(--bs-green);
  width: 100%;
}

#ustensils-list {
  background-color: var(--bs-red);
  width: 100%;
}

.ingredient-tag,
.appliance-tag,
.ustensil-tag {
  cursor: pointer;
}

.ingredient-tag:hover,
.appliance-tag:hover,
.ustensil-tag:hover {
  background: rgba(0, 0, 0, 0.2);
}


/* cards */

.card {
  background-color: #E7E7E7;
}

.card-img-top {
  height: 178px;
  background-color: #C7BEBE;
  border: 0;
}

.card-body {
  min-height: 186px;
  overflow: hidden;
}

.card-body header {
  height: 14%;
}

.card-title {
  font-size: 1rem;
}

.time {
  vertical-align: bottom;
  margin-right: 5px;
}

header span {
 font-size: 12px;
}

.card-body div {
  height: 60%;
}

.list-unstyled{
  height: 20%;
  margin-bottom: 1em;
  display: flex;
  flex-wrap: wrap;
}

.list-unstyled li {
  margin-right: 1em;
  font-size: 0.75rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.card-text {
  height: 70% !important;
  font-size: 0.75rem;
  -webkit-line-clamp: 5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}



@media (min-width: 768px) {

  .card {
    width: 380px;
    height: 364px;
    background-color: #E7E7E7;
  }

  .card-body {
    height: 186px;
  }

  .card-body header {
    flex-direction: row !important;
  }

  .card-body h2 {
    width: 70%;
  }

  .list-unstyled,
  .card-text {
    width: 48%;
  }

  .card-text {
    height: 100% !important;
   -webkit-line-clamp: 6;
  }



#form-ingredients {
  width: 100%;
}

#input-ingredients,
#input-appliances,
#input-ustensils {
  /* width: 70%; */
}

.input-show {
  width: unset;
}

.btn-custom.show {
  width: unset;
}

.dropdown-input.show form {
  /* justify-content: center; */
  width: 450px;
}

.dropdown-input {
  /* width: fit-content!important; */
  /* margin: auto!important; */
}

/* #dropdown-input-ingredients,
#dropdown-input-appliances,
#dropdown-input-ustensils {
  margin: 0!important;
} */

/* .d-grid {
  grid-template-columns: 1fr !important;
} */


}
